@model Hackathon2020Team4.Models.Course

@{
    ViewData["Title"] = "Курс " + Model.Title;
}

<div class="text-center">
    <h1 class="display-4">Інформація про курс</h1>
</div>

<div class="section-card">
    <div class="section-title">
        <h3 class="display-4">@Html.DisplayFor(item => Model.Title)</h3>
    </div>
    <div class="section-content">
        <div class="row">
            <div class="col-12 text-justify">
                <h4>Тривалість курсу @Html.DisplayFor(item => Model.StartDate) - @Html.DisplayFor(item => Model.EndDate)</h4>
            </div>
            <div class="col-12 text-justify">
                <h4>Викладач: @Html.DisplayFor(item => Model.Instructor.User.LastName) @Html.DisplayFor(item => Model.Instructor.User.FirstMidName)</h4>
            </div>
        </div>
    </div>
</div>

<div class="section-card">
    <div class="section-title">
        <h2 class="display-4">Модулі</h2>
        @if (User.IsInRole("admin") || User.IsInRole("instructor"))
        {
            @Html.ActionLink("Додати модуль", "Create", "Modules", new { id = Model.ID,  }, htmlAttributes: new { @class = "btn btn-primary" })
        }

    </div>
    <div class="section-content">
        <div class="list-group text-center">
            <table class="table">
                <tr>
                    <th>
                        Модуль
                    </th>
                    <th>
                        Час заняття
                    </th>
                    @if (User.IsInRole("admin") || User.IsInRole("instructor"))
                    {
                        <th>
                            Дії
                        </th>
                    }
                    <th></th>
                </tr>
                @foreach (var item in Model.Modules)
                {
                    <tr>
                        <td>
                            <a class="list-group-item">@*@Html.DisplayFor(moduleItem => item.ID)*@ @Html.DisplayFor(moduleItem => item.Title)</a>
                        </td>
                        <td>
                            <a class="list-group-item list-group-item-action">@*@Html.DisplayFor(moduleItem => item.ID)*@ @Html.DisplayFor(moduleItem => item.DateTimeStart)</a>
                        </td>


                        @if (User.IsInRole("admin") || User.IsInRole("instructor"))
                        {
                            <td>
                                @Html.ActionLink("Редагувати", "Edit", "Modules", new { id = item.ID }) |
                                @Html.ActionLink("Видалити", "Delete", "Modules", new { id = item.ID })
                            </td>
                        }

                    </tr>

                }

            </table>

        </div>
    </div>
</div>

