@model Hackathon2020Team4.Models.Module

@{
    ViewBag.Title = "Delete";
}

<h3>Ви впевнені, що хочете видалити цей модуль?</h3>
<div>
    <h4>Module</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLabExists)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLabExists)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTestExists)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTestExists)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-primary" /> |
            @Html.ActionLink("Повернутися назад", "Index")
        </div>
    }
</div>

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

