@model Hackathon2020Team4.Models.Module

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Module</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLabExists)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLabExists)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTestExists)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTestExists)
        </dd>

    </dl>

    <table>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
